<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SoundTouch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SoundTouch.Properties.Settings>
            <setting name="BaseDirectory" serializeAs="String">
                <value>C:\Users\jkelly\Documents\Church\Radio Ministry\Original\Exported WAV</value>
            </setting>
            <setting name="TrimmedDirectory" serializeAs="String">
                <value>.\Step 2 - Trimmed\</value>
            </setting>
            <setting name="IntroOutroDirectory" serializeAs="String">
                <value>.\Step 3 - IntroOutroAdded\</value>
            </setting>
            <setting name="IntroFile" serializeAs="String">
                <value>.\Media\NewIntro.wav</value>
            </setting>
            <setting name="OutroFile" serializeAs="String">
                <value>.\Media\NewOutro.wav</value>
            </setting>
            <setting name="SpeechCleanedDirectory" serializeAs="String">
                <value>.\Step 1 - Speech Cleaned\</value>
            </setting>
            <setting name="SoxEffectBatchFile" serializeAs="String">
                <value>.\Media\soxeffects.bat</value>
            </setting>
            <setting name="SermonStartTime" serializeAs="String">
                <value>38</value>
            </setting>
            <setting name="OutroStartTime" serializeAs="String">
                <value>38</value>
            </setting>
        </SoundTouch.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
